<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <main>
        <div class="mainStart">
        <div class="start">
            <h1>Organize tarefas em equipe com o DailyEasy </h1>
            <img src="/imgs/landingImg.png" alt="Imagem de organização de tarefas">
        </div>
        <section class="info">
            <article>
                <h3>Gerenciamento de Atividades</h3>
                <p>Gerenciamento é substituir músculos por pensamentos, folclore e superstição por conhecimento, e força por cooperação (Peter Drucker)</p>
            </article>
            <article>
                <h3>Facilidade e Organização</h3>
                <p>Gerencie tarefas em equipe, planeje projetos e facilite seu trabalho</p>
            </article>
        </section>
        </div>

        
    </main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>