*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: #D1E9F6;
    flex-direction: column;
}
 /* main{
    background-color: #F6EACB;
}  */

@media (max-width: 600px) {
    header{
        height: fit-content;
        display: flex;
        align-items: center;
        font-size: small;
    }
    .login{
        width: fit-content;
        height: auto;
        padding: 1rem;
    }
    .nav{
        display: flex;  
        align-items: center;
        justify-content: flex-start;
        justify-items: center;
        font-size: medium;
    }

}

header{
    color: #000000;
    display: flex;
    align-items: center;
    padding: 1rem;
    /* background-color: #FCF8F8; */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex: 1;
}

.login a{
    margin-top: 1rem;
    text-decoration: none;
}

.login{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    height: 90%;
    width: 90%;
    max-width: 400px;
    padding: 3rem;
    margin: 2rem;
    box-shadow: #D3D3D3 0px 4px 12px;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login label{
    align-self: flex-start;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.login input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid #D3D3D3;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10rem;
    width: 100%;
    gap: 2rem;
}
.nav-item a{
    font-size: large;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 8px;
    transition: 0.5s;
}

.nav-item a:hover{
    background-color: #d3cfcf;
    color: #000000;
    text-decoration: none;
}

footer{
    display: flex;
    /* position: fixed; */
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem;
    /* bottom: 0cm: */
    width: 100%; 
}

.toDo h5{
    background-color: #F1D3CE;
    padding: 0.5rem;
    width: 100%;
    
}


.doing h5{
    background-color: #F6EACB;
    padding: 0.5rem;
    width: 100%;
}

.done h5{
    background-color: #D1E9F6;
    padding: 0.5rem;
    width: 100%;
}

.tasks{
    flex-direction: row;
    padding: 2rem;
    width: 60%
}

.tasks label{
    align-self: flex-start;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.tasks input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid #D3D3D3;
}

.task{
    padding: 1rem;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-right: 2px solid #e4e6f8; 
    position: sticky;
}

.options a{
    text-decoration: none;
    color: #000000; 
    
}